<!--The whole content below can be removed with the new code.-->
  <h1 style="text-align:center">
    Welcome to {{title}}!!
  </h1>
    
  <!-- logic to show and hide the form on button click-->
  <!--<div>
    <button class="btn btn-success" (click)="showForm()">Show</button>
    <button class="btn btn-danger" (click)="hideForm()">Hide</button>
  </div>> -->
  <br>
  <div class="container" >

    <div class="row">
      <h3 style="margin-left:18px">Add a Student</h3>
      <div class="col col-md-4">
        <input type="test" value="First Name" placeholder="First Name" [(ngModel)]="firstName">
      </div>
    </div>  
    <br>
    <div class="row">
      <div class="col col-md-4">
        <input type="test" value="Last Name" placeholder="Last Name" [(ngModel)]="lastName" >
      </div>
    </div>
    <br>
    <div class="row">   
      <div class="col col-md-4">
        <button class="btn btn-primary" type="button" (click)="addTitle()">Add</button>
        <!--<button class="btn " type="button" (click)="addStudent()">Add</button> -->
      </div>
    </div>
    <span>First and the Last name will show in the textbox</span>
    <br>
    <input type="text" [(ngModel)]="title1" *ngIf="isVisible">

    <!-- Logic to display the Array values in a table using a *ngFor Directive 

    <div class="row">
      <div>
        <table style="margin-left:18px">
          <tbody>
            <tr *ngFor="let student of allStudents; let i=index">
              <td>
                {{i+1}}
              </td>
              <td>  
                {{student}}
              </td>
          </tbody>
        </table>
      </div>
    </div>-->
 
  </div>

